name: Xserver Game Auto Renew

on:
  schedule:
    - cron: "0 */3 * * *"
  workflow_dispatch:

jobs:
  renew:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - uses: actions/setup-python@v5
        with:
          python-version: '3.11'

      - name: Install deps
        run: |
          pip install playwright
          playwright install chromium

      - name: Run renew
        run: python renewal.py
