name: Xserver Games Auto Renew

on:
  schedule:
    - cron: "0 */6 * * *"
  workflow_dispatch:

jobs:
  renew:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.11"

      - name: Install Python deps
        run: |
          python -m pip install --upgrade pip
          pip install -r requirements.txt
          python -m playwright install chromium

      - name: Run Xserver Games Auto Renew
        env:
          XS_EMAIL: ${{ secrets.XS_EMAIL }}
          XS_PASSWORD: ${{ secrets.XS_PASSWORD }}
        run: |
          python renewal.py
